.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide a {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.input-search, .page-head .container, .or {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

body {
  max-width: 100vw;
  overflow: hidden auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

input:focus {
  outline: 1px solid #0b5177;
}

.input-search {
  position: relative;
}
.input-search input {
  padding: .8rem 1.2rem;
  font-size: .8rem;
  letter-spacing: 1px;
  border-radius: .5rem;
  border: 1px solid #d5dfe4;
}
.input-search i {
  position: absolute;
  right: 10px;
  font-size: 1.25rem;
}

.input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input {
  width: 100%;
  padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem) clamp(2.8rem, calc(2.3333rem + 1.8667vw), 3.5rem);
  font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
  border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
  border: 1px solid #d5dfe4;
  background-color: #f0f3f8;
  color: #0b5177;
}
.input img {
  width: clamp(1.2rem, calc(0.9333rem + 1.0667vw), 1.6rem);
  position: absolute;
  left: 1rem;
}

.button {
  width: 100%;
  padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem);
  font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
  border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
  border: 1px solid #e63b12;
  background-color: #e63b12;
  color: #fff;
  transition: .3s all ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: #e63b12;
  font-weight: 500;
}

.page-head {
  background-color: #f0f3f8;
  margin-top: 2px;
}
.page-head .container {
  justify-content: start;
  padding: 1rem 0 1rem clamp(1rem, calc(-3.8889rem + 19.5556vw), 12rem) !important;
  font-size: 1rem;
  color: #0b5177;
  font-weight: 400;
}
@media (max-width: 600px) {
  .page-head .container {
    justify-content: center;
  }
}
.page-head .container i {
  font-size: .8rem;
}

.or {
  width: 80%;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.or span {
  width: 100%;
  height: 1px;
  background-color: #d5dfe4;
}

.home_wrapper {
  padding-bottom: clamp(3rem, calc(2.2727rem + 2.9091vw), 5rem);
}
.home_wrapper .hero {
  padding: 3rem 0;
}
.home_wrapper .hero .container {
  padding: 0 5rem !important;
}
.home_wrapper .hero .container .row-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.home_wrapper .hero .container .row-1 .hero-slider {
  height: 30rem;
  grid-column: span 2;
  width: 100%;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide {
  gap: .2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 2.5rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(20%);
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide h1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  color: #e63b12;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #33332c;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-slide a {
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-decoration: none;
  color: #0b5177;
  padding: .5rem 2.5rem;
  border-radius: .7rem;
  display: block;
  width: fit-content;
  margin-top: .3rem;
  background-color: #fff;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-pagination {
  right: 2.5rem;
  bottom: 2.5rem;
  width: fit-content;
  left: auto;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-pagination .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 1px solid #d5dfe4;
  opacity: 1;
  box-sizing: content-box;
}
.home_wrapper .hero .container .row-1 .hero-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e63b12;
  border: none;
}

/*# sourceMappingURL=home.css.map */
