$main_color: #e63b12;
$secondary_color: #0b5177;
$light_gray: #f8f8f8;
$light_blue: #f0f3f8;
$text_gray: #33332c;
$text_light_gray: #717171;
$border-color: #d5dfe4;

%blue-gradiant {
    background: rgb(4, 114, 175);
    background: radial-gradient(circle, rgba(4, 114, 175, 1) 0%, rgba(13, 67, 97, 1) 100%);
}

%shadow {
    box-shadow: 0px 0px 15.5px rgba(211, 211, 211, 0.23);
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

body {
    max-width: 100vw;
    overflow: hidden auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

input {
    &:focus {
        outline: 1px solid $secondary_color;
    }
}

.input-search {
    position: relative;
    @extend %flex-center;
    input {
        padding: .8rem 1.2rem;
        font-size: .8rem;
        letter-spacing: 1px;
        border-radius: .5rem;
        border: 1px solid $border-color;
    }
    i {
        position: absolute;
        right: 10px;
        font-size: 1.25rem;
    }
}

.input {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
        padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem) clamp(2.8rem, calc(2.3333rem + 1.8667vw), 3.5rem);
        font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
        border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
        border: 1px solid $border-color;
        background-color: $light_blue;
        color: $secondary_color;
    }
    img {
        width: clamp(1.2rem, calc(0.9333rem + 1.0667vw), 1.6rem);
        position: absolute;
        left: 1rem;
    }
}

.button {
    width: 100%;
    padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem);
    font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
    border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);    
    border: 1px solid $main_color;
    background-color: $main_color;
    color: #fff;
    transition: .3s all ease-in;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $main_color;
        font-weight: 500;
    }
}

.page-head {
    background-color: $light_blue;
    margin-top: 2px;
    .container {
        @extend %flex-center;
        justify-content: start;
        padding: 1rem 0 1rem clamp(1rem, calc(-3.8889rem + 19.5556vw), 12rem) !important;
        font-size: 1rem;
        color: $secondary_color;
        font-weight: 400;
        @media (max-width: 600px) {
            justify-content: center;
        }
        i {
            font-size: .8rem;
        }
    }
}

.or {
    @extend %flex-center;
    width: 80%;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    span {
        width: 100%;
        height: 1px;
        background-color: $border-color;
    }
}

.section_head_r {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    span {
        font-weight: 600;
        border-bottom: 4px solid $main_color;
    }
}
.section_head_b {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    span {
        font-weight: 600;
        border-bottom: 4px solid $secondary_color;
    }
}