// sass --watch sass/home.scss:css/home.css --style expanded
@import './roles';

.home_wrapper {
    padding-bottom: clamp(3rem, calc(2.2727rem + 2.9091vw), 5rem);
    .hero {
        padding: 3rem 0 ;
        background-color: $light_gray;
        .container {
            &:first-child {
                padding: 0 7rem !important;
            }
            .row-1 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.25rem;
                .hero-slider {
                    height: 28rem;
                    grid-column: span 2;
                    width: 100%;
                    .swiper-slide {
                        gap: .2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: end;
                        padding: 2.5rem;
                        position: relative;
                        border-radius: .7rem;
                        overflow: hidden;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: grayscale(20%);
                        }
                        >* {
                            &:not(img) {
                                z-index: 2;
                            }
                        }
                        h1 {
                            font-size: 1.75rem;
                            letter-spacing: 2px;
                            color: $main_color;
                        }
                        p {
                            font-size: 1.3rem;
                            letter-spacing: 1px;
                            color: $text_gray;
                        }
                        a {
                            letter-spacing: 1px;
                            font-size: 1.3rem;
                            text-decoration: none;
                            color: $secondary_color;
                            padding: .5rem 2.5rem;
                            border-radius: .7rem;
                            @extend %shadow;
                            display: block;
                            width: fit-content;
                            margin-top: .3rem;
                            background-color: #fff;
                        }
                    }
                    .swiper-pagination {
                        right: 2.5rem;
                        bottom: 2.5rem;
                        width: fit-content;
                        left: auto;
                        .swiper-pagination-bullet {
                            width: 1rem;
                            height: 1rem;
                            background-color: #fff;
                            border: 1px solid $border-color;
                            opacity: 1;
                            box-sizing: content-box;
                            &.swiper-pagination-bullet-active {
                                background-color: $main_color;
                                border: none;
                            }
                        }
                    }
                }
                .cards {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: repeat(2,1fr);
                    gap: 1.25rem;
                    >div {
                        position: relative;
                        border-radius: .7rem;
                        overflow: hidden;
                        padding: 1rem;
                        @extend %flex-center;
                        align-items: end;
                        .content {
                            width: 100%;
                            align-items: end;
                            height: 100%;
                            @extend %flex-center;
                            gap: 1rem;
                        }
                        p {
                            font-size: .9rem;
                            color: white;
                        }
                        h1 {
                            font-size: 1.5rem;
                            color: white;
                        }
                        a {
                            letter-spacing: 1px;
                            font-size: .8rem;
                            text-decoration: none;
                            color: #e63b12;
                            padding: .4rem 1rem;
                            border-radius: .7rem;
                            display: block;
                            width: -moz-fit-content;
                            width: max-content;
                            margin-top: .3rem;
                            background-color: white;
                            white-space: nowrap;
                        }
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: brightness(60%);
                        }
                        >* {
                            &:not(img) {
                                z-index: 2;
                            }
                        }
                    }
                }
            }
            .row-2 {
                @extend %flex-center;
                gap: 2rem;
                margin-top: 3.5em;
                >div {
                    width: 100%;
                    @extend %flex-center;
                    gap: 1rem;
                    img {
                        width: 5rem;
                    }
                    h1 {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: $main_color;
                        margin-bottom: .3rem;
                    }
                    p {
                        font-size: .8rem;
                        letter-spacing: 1px;
                        font-weight: 400;
                        color: $text_gray;
                    }
                }
            }
        }
        position: relative;
        .bg {
            @extend %flex-center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;

            .container {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                height: 17%;
                transform: translateY(30%);
                padding: 0 2rem !important;
                .circle {
                    width: 90%;
                    display: block;
                    height: 100%;
                    background: $light_gray;
                    border-radius: 50%;
                }
            }

            .square {
                width: 100%;
                display: block;
                height: 85%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $light_gray;
            }
        }
    }

    .deals_of_week {
        margin-top: 5rem;
        .container {
            padding: 0 6.5rem !important;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            h1 {
                text-align: center;
            }
            .deals-slider {
                width: 100%;
                padding: 1rem 1rem 3rem 1rem;
                .swiper-slide {
                    background: #fff;
                    border: 1px solid #CFDCE3;
                    padding: 1.25rem 1rem;
                    @extend %flex-center;
                    flex-direction: column;
                    @extend %shadow;
                    border-radius: 1.25rem;
                    .head {
                        @extend %flex-center;
                        justify-content: space-between;
                        width: 100%;
                        .cat {
                            background: rgba(248, 248, 248, 0.0001);
                            border: 1px solid #CFDCE3;
                            font-weight: 400;
                            font-size: 1.05rem;
                            line-height: 1.05rem;
                            letter-spacing: 0.3px;
                            color: $secondary_color;
                            padding: .5rem 1rem;
                            border-radius: 50px;
                        }
                        .discount {
                            font-weight: 400;
                            font-size: 1rem;
                            color: #0CAE61;
                        }
                    }
                    .thumbanail {
                        border: 1px solid #CFDCE3;
                        padding: 1.2rem;
                        width: 100%;
                        height: 13.5rem;
                        border-radius: 1.25rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain
                        }
                    }
                    .details {
                        @extend %flex-center;
                        flex-direction: column;
                        gap: .5rem;
                        h3 {
                            
                            font-weight: 700;
                            font-size: 1.1rem;
                            line-height: 1.3;
                            color: $secondary_color;
                            text-align: center;
                            margin-bottom: .4rem;
                        }
                        .exp {
                            font-weight: 400;
                            font-size: 1rem;
                            color: $secondary_color;
                            text-align: center;
                        }
                        .price {
                            background: #F8F8F8;
                            border-radius: 3rem;
                            padding: .5rem 2rem;
                            font-weight: 700;
                            font-size: 1.5rem;
                            color: #0B5177;
                            width: fit-content;
                        }
                        .old_price {
                            font-weight: 700;
                            font-size: 1.1rem;
                            color: #0B5177;
                            position: relative;
                            @extend %flex-center;
                            &::after {
                                content: '';
                                position: absolute;
                                width: 105%;
                                height: 4px;
                                background-color: #000;
                            }
                        }
                    }
                }
                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    background-color: $secondary_color;
                    border-radius: 50%;
                    opacity: 1;
                    &.swiper-pagination-bullet-active {
                        width: 2.2rem;
                        border-radius: 50px;
                        background-color: $main_color;
                    }
                }
            }
        }
    }
    .ad-1 {
        margin-top: 2.5rem;
        .container {
            padding: 0 7rem !important;
            >div {
                width: 100%;
                padding: 1.2rem 1.6rem;
                border-radius: 1.25rem;
                overflow: hidden;
                position: relative;
                @extend %flex-center;
                flex-direction: column;
                align-items: end;
                gap: .7rem;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                    z-index: -1;
                }
                h1 {
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: $secondary_color;
                    span {
                        color: $main_color;
                    }
                }
                a {
                    font-size: 1.1rem;
                    color: $main_color;
                    padding: .5rem 2rem;
                    border-radius: 50px;
                    border: 1px solid $border-color;
                    background-color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    display: block;
                    width: fit-content;
                }
                .text {
                    @extend %flex-center;
                    gap: .7rem;
                    flex-direction: column;
                }
            }
        }
    }

    .latest {
        margin-top: 3rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100vw;
        position: relative;
        .bg {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            >* {
                width: 100%;
                background-color: $light_gray;
            }
            .circle {
                height: 40%;
                width: 110%;
                border-radius: 50% 50% 0 0;
            }
            .square {
                height: 60%;
            }
        }
        .latest-slider {
            width: 100%;
            padding: 1rem 1rem 5rem 1rem;
            max-width: 1900px;
            .swiper-slide {
                background: #fff;
                border: 1px solid #CFDCE3;
                @extend %shadow;
                border-radius: 1.25rem;
                padding: 1.6rem 1.25rem;
                @extend %flex-center;
                flex-direction: column;
                gap: 1rem;
                >* {
                    width: 100%
                }
                .head {
                    @extend %flex-center;
                    justify-content: space-between;
                    h1 {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: $secondary_color;
                    }
                    a {
                        i {
                            color: #bababa;
                            font-size: 1.7rem;
                        }
                    }
                }
                .body {
                    @extend %flex-center;
                    justify-content: space-between;
                    align-items: center;
                    .thumbanail {
                        min-width: 43%;
                        height: fit-content;
                        border-radius: 1.25rem;
                        background-color: $light_gray;
                        padding: 1.1rem 1.5rem;
                        @extend %flex-center;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;
                        .title {
                            font-size: 1.1rem;
                            font-weight: 700;
                            color: $text_gray;
                        }
                        p {
                            font-size: .9rem;
                            font-weight: 400;
                            color: $secondary_color;
                        }
                        .price {
                            @extend %flex-center;
                            width: fit-content;
                            gap: .5rem;
                            .new_price {
                                font-size: 1.1rem;
                                font-weight: 700;
                                color: $main_color;
                            }
                            .old_price {
                                font-size: .85rem;
                                color: $secondary_color;
                                font-weight: 700;
                                position: relative;
                                @extend %flex-center;
                            
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 105%;
                                    height: 1.5px;
                                    transform: translateY(1px);
                                    background-color: #000;
                                }
                            }
                        }
                        .rate {
                            @extend %flex-center;
                            width: fit-content;
                            gap: .5rem;
                            .stars {
                                i {
                                    font-size: 1rem;
                                    color: $secondary_color;
                                    opacity: .5;
                                    &.active {
                                        color: $main_color;
                                    }
                                }
                                font-weight: 400;
                                font-size: .9rem;
                                color: $text_gray;
                            }
                        }
                    }
                }
            }
            .swiper-pagination-bullet {
                width: 1rem;
                height: 1rem;
                opacity: 1;
                border: 1px solid $border-color;
                background-color: transparent;
                &.swiper-pagination-bullet-active {
                    background-color: $secondary_color;
                    border: none;
                }
            }
        }
    }
}

.contact_wrapper {
    >.container {
        padding: 2.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .head {
            @extend %flex-center;
            flex-direction: column;
            gap: .6rem;
            align-items: start;
            h1 {
                font-size: 2rem;
                color: #8897b7;
            }
            p {
                font-size: .85rem;
                letter-spacing: 1px;
                color: #435ca1;
            }
            hr {
                width: 100%;
                height: 1px;
                width: 100%;
                border: none;
                background: $border-color;
            }
        }
        .body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.25rem 1.5rem;
                input, textarea, button {
                    grid-column: span 4;
                    border: 1px solid $border-color;
                    border-radius: .3rem;
                    padding: .65rem 1rem;
                    color: $secondary_color;
                    &:first-of-type, &:nth-of-type(2) {
                        grid-column: span 2;
                    }
                }
                textarea {
                    grid-column: span 4 !important;
                    resize: none;
                }
                button {
                    grid-column: span 1 !important;
                    font-size: 1rem;
                    background-color: transparent;
                    font-weight: 500;
                    color: #435ca1;
                }
            }
            iframe {
                border-radius: 1rem;
                overflow: hidden;
                border: 1px solid $border-color !important;
            }
        }
    }
}